* {
    color: #e5e5e5;
}

#main {
    /* max-width: 767px; */
    padding-top: 40px;
}

p {
    text-shadow: 1px 1px #000;
}

#icons > ul {
    padding: 10px;
}

html {
  background: url(http://wallpapercave.com/wp/lPjE8NZ.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg {
  /* Preserve aspet ratio */
  max-width: 100%;
  max-height: 100%;
}


#fgt {
    padding-bottom: 20px;
}

body {
}

